<!DOCTYPE html>
<article id="navbar">
  <div id="left">
    <a href="/">Home</a>
  </div>
  <div id="right">
    <div id="right_buttons">
      <form action="/cart">
        <input class="button" type="submit" value="Cart"></form>
      <% if(!sess.loggedIn) { %>

      <form action="/"
      <% } %>
    </div>
  </div>
</article>
